
<h3>angular 11 fulll corase in project creat<a href="https://youtu.be/b_ERusRsQkE">link</a></h3>

<h1>Date percent decimal with string pipec</h1>
<h1>Date  pipec -------------</h1>

<h2>  {{dod}}</h2>
<h2>  {{dod|date:'shortDate'}}</h2>
<h2>  {{dod|date:'longDate'}}</h2>
<h2>  {{dod|date:'fullDate'}}</h2><hr>
<h1>percent pipec--------------</h1>
<h2>  {{num}}</h2>
<h2>  {{num|percent}}</h2>
<h2>  {{num|percent:'5.4-4'}}</h2><hr>
<h1>decimal pipec-------------</h1>
<h2>  {{num}}</h2>
<h2>  {{num|number}}</h2><hr>
<h1>currency pipec-------------</h1>
<h2>  {{num}}</h2>
<h2>  {{num|currency}}</h2>
<h2>  {{num|number}}</h2><hr>
<h1>currency pipec-------------</h1>
<h2>  {{num}}</h2>
<h2>  {{num|currency :'INR':'code'}}</h2>





