

<!-- <h3>angular 11 redirectiong ROUTING<a href="https://youtu.be/Y0koZgnm9UY">link</a></h3><hr> -->
<mat-card style="width: 80%; background-color: aquamarine; align-items: center; align-content: center; text-align: center;position: relative;display: inline-block;left: 80px; transform: translate( -80px);">Simple card</mat-card>

<h1>anguler forme cli creat </h1>
<hr>
 <h1>1---   template-driven form</h1>
<div class="container">
  <div class="row">
    <div class="form-bg">
      <form #regForm="ngForm" (ngSubmit)="Register(regForm)">
        <h2 class="text-center ">registration page </h2><br>
        <div class="form-group">
          <input type="text" name="first name"placeholder="first name" id="" class="form-control" required ngModel #first="ngModel">
          <span class="help-bpx"*ngIf="first.touched && !first.valid" >please enter emale value </span>
        </div>
        <div class="form-group">
          <input type="text" name="last name"placeholder="last name" id="" class="form-control"required ngModel  #last="ngModel">
          <span class="help-bpx"*ngIf="last.touched && !last.valid" >please enter last name </span>
        </div>
        <div class="form-group">
          <input type="email" name="emale"placeholder="emale" id="" class="form-control"required ngModel #emale="ngModel" >
          <span class="help-bpx"*ngIf="emale.touched && !emale.valid" >please enter emale value </span>
        </div>
        <br>
        <div class="align-center">
          <button type="submit" class="btn btn-primary"id="Register" [disabled]="!regForm.valid">Register</button>
          <button type="reset" class="btn btn-primary" id="reset()" >reset</button>
        </div>
        
        
      </form>

    </div>

  </div>

</div>
<!-- <h1>{{fistname}}</h1> -->

<hr>
<h1>2--------   model-driven form  ()</h1>





<h1><router-outlet></router-outlet></h1>
